<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BUTTON</title>
  <link rel="stylesheet" href="/css/buttonhome.css">
  <link rel="stylesheet" href="font-awesome-4.7.0\css\font-awesome.css">
  <link rel="stylesheet" href="/css/landingbutton.css">
  
   


</head>

<body>
  <section id="loginheader">
    <div id="container1">
        <div id="user_image">
            <img src="" alt="">
        </div>
        <div id="container3">
            <div id="username"><%= person %></div>
            <div class="userid"><%= Rodeo %></div>
            <div id="verificationstatus">
                
            </div>
        </div>
    </div>

    <div id="container8">
        BUTTON
    </div>

    <div id="container9">
        <div><i class="fa fa-search"></i></div>
        <div><a href="/users/logout">Logout</a></div>
        <div><i class="fa fa-bell"></i></div>
        <div><i class="fa fa-barcode"></i></div>
    </div>
  </section>
  <div id="rowbar" >
    
    <ul class="listedmen">
      <li>Products</li>
      <li>About</li>
      <li>Customer Service</li>
      <li class="">Governance</li>
    </ul>
  </div>

  <section id="financialdashboard">
    <span class="reservelabel">Reserve</span> <span class="Reserveamount"><%= Reserve %></span>
    <a href="/users/createPayID">create Payment Pin</a>
    <a href="/users/transfer">Make payment</a>
  </section>


  <section id="buttondailyvalue">
    <h2>BUTTON INDEX®</h2>
    <span>1467.33 USD</span>
    <h4>4% <span>- 1 Day</span></h4>
  </section>


 
 <section id="disclaimersection">
   <h3>
     Disclaimer
   </h3>
   <h5>
   All investing is subject to risk including the possible loss of the money you invest.
Button is owned by its funds, which are owned by Button's fund shareholder clients.
The experiences of any Button client may not be representative of the experience of other Button's clients and are not a guarantee of future investment performance or success.
Advice services are provided by Button Advisers, Inc., a registered investment advisor, or by Leventis world bank, an asset financial institution registered with the button umbrella.
</h5>


 </section>

 <footer class="footing">
  
   <div class="footinfo">
     <a href="">About Button indices</a>
     <a href="">Our Services</a>
     <a href="">Societal responsibility</a>
     <a href="">History</a>
     <a href="">Leadership</a>
     <a href="">Careers</a>
   </div>
   <div class="socialmediahandles">
     <i class="fa fa-facebook-square"></i>
     <img src="/BUTTON FRONT END WEBSITE /square-x-twitter.svg" alt="">
     <i class="fa fa-youtube-play"></i>
     <img src="/BUTTON FRONT END WEBSITE /linkedin.svg" alt="/BUTTON FRONT END WEBSITE /linkedin.svg">
   </div>
   <div class="endnote">
      © 2024 The Button Group, Inc. All rights reserved. Button Terminals, distributor of Button Funds. Your use of this site signifies that you accept our terms & conditions of use.
   </div>
 </footer>

<script src ="buttonhome.js"> </script>
</body>

</html>